.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.login h1 {
    color: white;
    margin-bottom: 1.5em;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 2px solid rgb(255, 255, 255);
    padding: 0em .2em;
}

.login .form {
    background-color: #222222;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .login .form {
        margin-right: 65%;
    }
}

.login .field input {
    width: 100%;
    border: none;
    outline: none;
    padding: .5em .5em;
    font-size: 1em;
    border-radius: 5px;
}

.login .field input:focus {
    background: #e7e7e7;
}

.space {
    margin-bottom: 1.4em;
}

.login .field input:focus {
    outline: invert;
}

.login .actions {
    text-align: center;
    margin-top: 1rem;
}

.login .actions button {
    background-color: white;
    color: #1f1e1e;
    padding: .5em 1em;
    text-decoration: none;
    transition: .2s;
    font-size: 1.1em;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    margin-top: .5em;
}

.incorrect_user p {
    color: #FF5252;
    text-align: center;
}

.login .actions button:hover {
    background-color: #e2e1e1;
}

.login a {
    text-align: center;
    text-decoration: none;
    color: #ffbb33;
}

.login .actions span {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: .3em;
}