.btn {
    background-color: #222;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    transition: .2s;
    font-size: 1.1em;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .btn {
        width: auto;
    }
}

.btn:hover {
    color: #FFBB33;
}