.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}


.list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .list {
        margin-left: 11px;
    }
}
.list a {
    color: white;
    text-decoration: none;
    transition: .2s;
    font-size: 1.1em;
}

.list a:hover {
    color: #ffbb33;
}

.item {
    margin-right: 1.4em;
}

.item_login a {
    margin-right: 1.4em;
    background: white;
    color: black;
    padding: .5em 1.6em;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}

.item_login a:hover {
    background-color: rgb(238, 238, 238);
    color: #222;
}