html {
  box-sizing: border-box;
}

*, *:before, :after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;

}

html, body, #root {
  background-color: #efefef;
  height: 100%
}